
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Futbol</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body class="container">
    <div class="col-md-12 form-group">
        <div class="col-md-6 form-group">
            <h2 style="text-align:left"> <strong>Futbolcu Ekle</strong> </h2>
            <div class="col-md-12 form-group">
                <label class="label-default">Adı ve Soyadı</label>
                <input type="text" id="name" class="form-control" />
            </div>
            <div class="col-md-12 form-group">
                <label class="label-default">Yaşı</label>
                <input type="text" id="age" class="form-control" />
            </div>
            <div class="col-md-12 form-group">
                <label class="label-default">Forma No</label>
                <input type="number" id="sportgear" class="form-control" />
            </div>
            <div class="col-md-12 form-group">
                <label class="label-default">Maaşı</label>
                <input type="number" id="salary" class="form-control" />
            </div>
            <div class="col-md-12 form-group">
                <label class="label-default">Sözleşme Bitiş Tarihi</label>
                <input type="date" id="contract" class="form-control" />
            </div>
            <div class="col-md-12 form-group">
                <label class="label-default">Mevkii</label>
                <input type="text" id="position" class="form-control" />
            </div>
            <div class="col-md-12 form-group">
                <button class="btn btn-group-sm" id="addbtn" onclick="Send()">Ekle</button>
            </div>
        </div>
    </div>
</body>
</html>
    
<script type="text/javascript">
    //debugger;
    var name1 = $("#name").val();
    var age1 = $("#age").val();
    var sportgear1 = $("#sportgear").val();
    var salary1 = $("#salary").val();
    var contract1 = $("#contract").val();
    var position1 = $("#position").val();

    function Send() {

        $.ajax({
            type: "POST", //POST
            url: "/Teams/AddPlayer",
            data: JSON.stringify({ name: name1, age: age1, sportgear: sportgear1, salary: salary1, contract: contract1, position: position1 }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                console.log(result); // inspect te sonuç bildirisini görmek içindir.

            },
            error: function (result) {
                alert(result);
            }
        });
    }
</script>
    
