@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <a href="#">content</a>
    </div>
    <div class="col-md-12">
        <a href="#">content</a>
    </div>
    <div class="col-md-12">
        <a href="#">content</a>
    </div>
</div>